<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdn.zp.dao.PositionTypeMapper">

  <resultMap id="positionTypeMap" type="com.hdn.zp.model.PositionType">
                  <id property="id" column="id"/>
                        <result property="name" column="name"/>
                        <result property="describe" column="describe"/>
                        <result property="createTime" column="create_time"/>
                        <result property="modifyTime" column="modify_time"/>
            </resultMap>
</mapper>
