<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdn.zp.dao.RegionMapper">

  <resultMap id="regionMap" type="com.hdn.zp.model.Region">
                  <id property="id" column="id"/>
                        <result property="code" column="code"/>
                        <result property="name" column="name"/>
                        <result property="level" column="level"/>
                        <result property="parentId" column="parent_id"/>
                        <result property="sortNumber" column="sort_number"/>
                        <result property="path" column="path"/>
                        <result property="abbr" column="abbr"/>
                        <result property="spelling" column="spelling"/>
                        <result property="shortSpelling" column="short_spelling"/>
                        <result property="creator" column="creator"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="modifier" column="modifier"/>
            </resultMap>
      <sql id="baseCloums">
        id, code, name, level, sort_number, path, abbr, spelling,
        short_spelling, creator, create_time, update_time, modifier
    </sql>
      <sql id="baseWhere">
            <if test="code !=null  and  code !='' ">and code=#{code}</if>
            <if test="name !=null  and  name !='' ">and name=#{name}</if>
            <if test="level !=null  and  level !='' ">and level=#{level}</if>
            <if test="sort_number !=null  and  sort_number !='' ">and sort_number=#{sort_number}</if>
            <if test="path !=null  and  path !='' ">and path=#{path}</if>
            <if test="abbr !=null  and  abbr !='' ">and abbr=#{abbr}</if>
            <if test="spelling !=null  and  spelling !='' ">and spelling=#{spelling}</if>
            <if test="short_spelling !=null  and  short_spelling !='' ">and short_spelling=#{short_spelling}</if>
            <if test="creator !=null  and  creator !='' ">and creator=#{creator}</if>
            <if test="create_time !=null  and  create_time !='' ">and create_time=#{create_time}</if>
            <if test="update_time !=null  and  update_time !='' ">and update_time=#{update_time}</if>
            <if test="modifier !=null  and  modifier !='' ">and modifier=#{modifier}</if>
      </sql>

      <select id="selectList" parameterType="com.hdn.zp.model.Region" resultMap="regionMap">
            select  <include refid="baseCloums"></include>  from region where 1=1 <include
              refid="baseWhere"></include>
      </select>


      <insert id="insertRegion" parameterType="ArrayList" useGeneratedKeys="true" keyProperty="id">
            insert into region
            <trim prefix="(" suffix=")" suffixOverrides=",">
                  code, name, level, sort_number, path, abbr, spelling,
                  short_spelling, creator, create_time, update_time, modifier
            </trim>
            values
            <foreach collection="list" item="item" index="index" separator=",">
                  <trim prefix="(" suffix=")" suffixOverrides=",">
                        #{item.code},
                        #{item.name},
                        #{item.level},
                        #{item.sort_number},
                        #{item.path},
                        #{item.abbr},
                        #{item.spelling},
                        #{item.short_spelling},
                        #{item.creator},
                        #{item.create_time},
                        #{item.update_time},
                        #{item.modifier},
                  </trim>
            </foreach>
      </insert>

      <update id="updateRegion" parameterType="ArrayList">
            <foreach collection="list" item="item" index="index" separator=";">
                  update region
                  <trim prefix="SET" suffixOverrides=",">
                        <if test="item.code != null  and item.code != ''">code = #{item.code},</if>
                        <if test="item.name != null  and item.name != ''">name = #{item.name},</if>
                        <if test="item.level != null  and  item.level !='' ">level =#{item.level}</if>
                        <if test="item.sort_number != null  and  item.sort_number !='' ">sort_number =#{item.sort_number}</if>
                        <if test="item.path != null  and  item.path !='' ">path =#{item.path}</if>
                        <if test="item.abbr != null  and item.abbr != ''">abbr = #{item.abbr}</if>
                        <if test="item.spelling != null  and item.spelling != ''">spelling = #{item.spelling}</if>
                        <if test="item.short_spelling != null  and  item.short_spelling !='' ">short_spelling =#{item.short_spelling}</if>
                        <if test="item.creator != null  and  item.creator !='' ">creator =#{item.creator}</if>
                        <if test="item.create_time != null  and  item.create_time !='' ">path =#{item.create_time}</if>
                        update_time = now(),
                        <if test="item.modifier != null  and  item.modifier !='' ">path =#{item.modifier}</if>
                  </trim>
                  where id = #{item.id}
            </foreach>
      </update>

      <delete id="deleteRegion" parameterType="com.hdn.zp.model.Region">
            DELETE   FROM   region
            <if test="id !=null">
                  where  region.id=#{id}
            </if>
      </delete>
</mapper>
